<div class="side-nav">
    <nav>
        <ul>
            <li [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{ exact: true }" >
                <a [routerLink]="['/profile']">
                    <i class="bi bi-person-square ms-2"></i>

                    البيانات الشخصية
                </a>
            </li>
            <li [routerLinkActive]="['active']" >
                <a [routerLink]="['/social-media']" >
                    <i class="bi bi-link-45deg ms-2"></i>

                    روابط التواصل الاجتماعي

                </a>
            </li>
            <li>
                <button type="button" (click)="logout()" class="text-success logoutBtn">
                   <i class="bi bi-box-arrow-right ms-2"></i> تسجيل الخروج </button>
            </li>
        </ul>
    </nav>
</div>