.side-nav {

    background-color: #ffff;
    padding: 12px;
    height: 100%;
    min-height: 100vh;

}

.side-nav ul {
    list-style: none;
    padding: 0;
}

.side-nav ul li {
    margin: 8px 0;
}

.side-nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 12px;
    border-radius: 20px;
}

.side-nav ul li a:hover {
    background-color: #00ab67;
    color: white;

}

.active {
    background-color: #00ab67;
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 20px;
}

.active a {
    color: white !important;
}